*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

h1,
h4,
h5,
h6,
p{
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #dee0ea;
}

.header-row {
    height: 90px;
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left .logo {
    font-size: 24px;
    font-weight: 500;
    display: flex;
}

.header-center .navigation .menu-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.header-center .menu-list .menu-link {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.header-center .menu-list i {
    font-size: 12px;
} 

.header-center .menu-list i {
    font-size: 12px;
}

.header-right .header-right-links .header-social-media{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.header-right  i{
    font-size: 18px;
    display: flex;
}